# TokensByte 环境系统全局核心配置
# -------------------------------
# 数据库连接池枢纽 (二选一，解开注释即可一键生效)
# -------------------------------

# [1. 全局系统内置本地测试数据库]
DATABASE_URL=postgres://tokensapi:tokensapi@postgres:5432/tokensapi

# [2. 线上公有云全局主数据库 (RDS)]
# DATABASE_URL=postgres://dev_user:Secure_123%40pos@postgres-2c54901aaa1c-public.rds-pg.volces.com:5432/tokensbyte_dev?sslmode=disable&statement_cache_capacity=0

JWT_SECRET=tokensbyte-change-me
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123456
REGISTER_ENABLED=true
